<!-- Ways to select elements, Classes & Ids -->

.className {
}

#idName{
}

htmlElement {
}


<!-- Collective Selection -->

htmlElement.className{
  --Selects htmlElement that has className
}

#idName.className {
  --Selects idName that has className
}

htmlElement .className{
  --Selects className which is the child of htmlElement
}

htmlElement htmlElement {
  --Selects htmlElement which is the child of htmlElement
}

<!-- Frames -->

margin: x(all 4 sides)
margin: x(top and bottom) y(left and right)
margin: x(top) y(bottom) z(left & right)
margin: x(top) y(left) z(bottom) w(right)

padding: x(all 4 sides)
padding: x(top and bottom) y(left and right)
padding: x(top) y(bottom) z(left & right)
padding: x(top) y(left) z(bottom) w(right)

border: x(all 4 sides)
border: x(top and bottom) y(left and right)
border: x(top) y(bottom) z(left & right)
border: x(top) y(left) z(bottom) w(right)

<!-- Useful CSS Rules -->

color: ----;
font: ---;
width: ----;
height: ----;
